"appsettings.json" 
".vs/"  
"[bb]in/"  
"[Bb]in/"  
"[Oo]bj/"  
"*.user"  
"*.suo"  
"/packages"  
/.vs
/ShopApp.API/.config
/ShopApp.API/bin/Debug/net10.0
/ShopApp.API/obj
/ShopApp.BusinessLogic/bin/Debug/net10.0
/ShopApp.BusinessLogic/obj
/ShopApp.DataAccess/bin/Debug/net10.0
/ShopApp.DataAccess/obj
/ShopApp.Models/bin/Debug/net10.0
/ShopApp.Models/obj
